################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
 /MovieDroid/obj/Debug
 /MovieDroid/obj/Release
 /MovieDemo/bin/Debug
 /MovieDroidTest/bin/Debug